name: 4 - Deploy Compute

on:
  push:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Compute
        uses: azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: backtest-rg
          template: ./infra/compute.json
          parameters: location=canadacentral adminPublicKey="${{ secrets.SSH_PUBLIC_KEY }}" storageAccountName=${{ secrets.STORAGE_ACCOUNT_NAME }}
          deploymentName: compute
