name: Create Storage

on:
  workflow_dispatch:  # Manual trigger only

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Storage
        uses: azure/arm-deploy@v1
        with:
          scope: resourcegroup
          resourceGroupName: RG-backtest-enginge-distributed
          template: ./infra/storage.json
          parameters: storageAccountName=${{ secrets.STORAGE_ACCOUNT_NAME }}
          deploymentName: storage-${{ github.run_number }}